[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
astpretty = "*"
black = "==19.10b0"
httpie = "*"
ipython = "*"
isort = "*"
pudb = "*"

[packages]
boto3 = "*"
delorean = "*"
dj-database-url = "*"
django = "*"
django-storages = "*"
dynaconf = { extras = ["yaml"], version = "*" }
pandas = "*"
psycopg2-binary = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
