{% extends "_base.html" %}
{% block title %}Onboarding{% endblock %}
{% block body %}
  <h1>My profile</h1>
  {% if request.user.profile.avatar.original %}
    <img src="{{ object.avatar.original.url }}" alt="avatar" width="200rem">
  {% else %}
    <p>-- no avatar --</p>
  {% endif %}
  <ul>
    <li>Display name: {{ object.display_name }}</li>
    <li>Birth date: {{ object.birth_date }}</li>
  </ul>
  <form method="post" action="{% url "onboarding:profile-update" %}">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Update profile</button>
  </form>
  <form
      method="post"
      action="{% url "onboarding:avatar-update" %}"
      enctype="multipart/form-data">
    {{ form_avatar.as_p }}
    {% csrf_token %}
    <button type="submit">Update avatar</button>
  </form>
{% endblock %}
