<form method="post" action="{value_action}">
    <p>
        <label for="name">Name:</label>
        <input type="text" placeholder="Project name" id="name" name="name" value="{value_name}" required>
    </p>
    <p>
        <label for="start">Started at:</label>
        <input type="datetime-local" id="start" name="start" value="{value_start}" required>
    </p>
    <p>
        <label for="start">Ended at:</label>
        <input type="datetime-local" id="end" name="end" value="{value_end}">
    </p>
    <button type="submit">{value_submit}</button>
</form>
