{% extends "_base.html" %}
{% block title %}Project {{ object.name }}{% endblock %}
{% block body %}
    <div class="single">
        <p><a href="{% url 'projects:all' %}"><<< All Projects</a></p>
        <article>
            <h1>{{ object.name }}</h1>
            <strong>{{ object.started }} ~ {{ object.ended }}</strong>
            <hr>
            <p>{{ object.description }}</p>
            <form method="post" action="{% url 'projects:delete' object.pk %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </article>
    </div>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
{% endblock %}
